body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  letter-spacing: 0.2rem;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

.vh-100 {
  height: 100vh;
}

.min-vh-100 {
  min-height: 100vh;
}

.h2 {
  height: 2rem;
}

.vw-100 {
  width: 100vw;
}

.w-90 {
  width: 90%;
}

.w15 {
  width: 15rem;
}

.bg-pink {
  background: pink;
}

.bg-green {
  background: turquoise;
}

.white {
  color: white;
}

.tc {
  text-align: center;
}

.scroll {
  overflow: scroll;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.f3 {
  font-size: 3rem;
}

.f2 {
  font-size: 2rem;
}

.ma1 {
  margin: 1rem;
}

.pa5 {
  padding: 5rem;
}

.pa4 {
  padding: 4rem;
}

.pa3 {
  padding: 3rem;
}

.pa2 {
  padding: 2rem;
}

.pa1 {
  padding: 1rem;
}

.list {
  list-style: none;
}
