//- experience imported from data.js

section.experience_section.vh-100.vw-100.bg-green.white
  h2 experience
  ul
    each item in experience
      li.list
        .experience_item
          p=item.place
      
