//- skills array imported from data.js

section.skills_section.min-vh-100.vw-100 
  h2 Skills
    .tables.wrap
        each skill in skills
          table.w15.pa1
            tr.h2
              th=skill.type
              
              each item in skill.items
                tr.h2
                  td.tc=item
