html
    title Emily Bertwistle | Web developer
    link(rel="stylesheet" href="main.css")
    link(rel="icon" href="favicon.ico")
      
body
    .background.scroll.bg-pink.vh-100.vw-100.relative
        include partials/title
        include partials/skills
        include partials/experience
